<section id="about" class="row">
    <h2>Nosotros</h2>
    <section>
        <article>
            <header>
                <h3>Mision</h3>
            </header>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, est, neque quasi quia enim consectetur
                corporis optio esse expedita facere illum culpa nobis omnis ratione labore error cum fuga! Eaque.</p>
        </article>
        <article>
            <header>
                <h3>Vision</h3>
            </header>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, est, neque quasi quia enim consectetur
                corporis optio esse expedita facere illum culpa nobis omnis ratione labore error cum fuga! Eaque.</p>
        </article>
        <article>
            <header>
                <h3>Objetivos</h3>
            </header>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, est, neque quasi quia enim consectetur
                corporis optio esse expedita facere illum culpa nobis omnis ratione labore error cum fuga! Eaque.</p>
        </article>
        <article>
            <header>
                <h3>Valores</h3>
            </header>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, est, neque quasi quia enim consectetur
                corporis optio esse expedita facere illum culpa nobis omnis ratione labore error cum fuga! Eaque.</p>
        </article>
    </section>

</section>