<footer id="contacto">
    <section class="row">
        <h2>Contacto</h2>
        <article class="col-sm-12 col-md-6">
            <header>Redes sociales</header>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Tiktok</li>
            </ul>
        </article>
        <article class="col-sm-12 col-md-6">
            <header>Secciones</header>
            <ul>
                <li>
                    Administrador
                    <ul>
                        <li>Secciones que usa</li>
                    </ul>
                </li>
                <li>
                    Empleados
                    <ul>
                        <li>Secciones que usa</li>
                    </ul>
                </li>
                <li>
                    Usuarios
                    <ul>
                        <li>Secciones que usa</li>
                    </ul>
                </li>
                <li>Volver arriba</li>
            </ul>
        </article>
    </section>
</footer>
<!-- script -->
</body>

</html>